@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body {
  min-height: 100vh;
}

/* .background {
  z-index: -1;
  background: url(./background-curve.svg) bottom/contain no-repeat;
  
} */

.illu-btn-container {
  position: relative;
}

.illu-btn-container > button {
  position: absolute;
  width: 64%;
  left: 17%;
  top: 23.12%;
  bottom: 46.25%;
  background-color: #7749f8;
}

.illu-new-task {
  pointer-events: none;
  top: 20%;
}

/* .navbar .btn:focus,
.container .btn:focus {
  box-shadow: none;
} */

/* kol kas nukopinta is maino */
/* Generuojamos korteles stiliai */
.card-header {
  border-width: 0;
  overflow: hidden;
}

.card.border-primary {
  border-color: #7749f8!important;
}
.card-body{
  overflow: hidden;
}
.card-body p {
  font-size: 14px;
}

/* .card  {
  border-left: 4px solid red;
} */

.board-column {
  background-color: #E9ECEF;
  
}

#task_id {
  color: #7749f8;
}

.form-check-input {
  border-color: #7749f8;
}

.form-check-input:checked {
  background-color: #7749f8;
}

#high {
  border-color: #DC3545;
}
#high:checked {
  background-color: #DC3545;
}

#medium {
  border-color: #FFC107;
}
#medium:checked {
  background-color: #FFC107;
}

#low {
  border-color: #28A745;
}
#low:checked {
  background-color: #28A745;
}

.modal .btn-close {
  width: 0.5em;
  height: 0.5em;
}

.btn:focus, .btn-close:focus {
  outline: 0 !important; 
  box-shadow: none;
}

.modal .card-header {
  background-color: #7749f8;
}

.card-header h6 {
  color: white;
}

.modal .card,
.modal-content {
  border: none;
}

.input-group {
  width: 30%;
  min-width: 300px;
}

.bi-arrow-left {
  color: #7749f8;
}

.bi-arrow-left::before {
  font-size: 1.5rem;
}

.card-header #task-name {
  overflow-wrap: anywhere;
}

.dissolve2 {
  position: relative;
  height: 3rem; 
}

.dissolve2::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: 1.2rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  overflow: hidden;
}

.dissolve3 {
  position: relative;
  height: 4.4rem; 
}

.dissolve3::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 30%;
  height: 1.25rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  overflow: hidden;
}

#task-cards-container hr {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  height: 1px;
  background: none;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.2)
  );
}
